.bord-category {
  top: 70px;
  left: 25vh;
  padding: 0;
  position: fixed;
  width: 13%;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bord-category > div {
  display: flex;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 30px 15px 15px;
  flex-wrap: nowrap;
}
