.sidebar {
  position: fixed; /* 사이드바를 화면의 왼쪽에 고정 */
  top: 70px; /* 네비게이션 바 바로 아래에 위치 */
  left: 0;
  width: 320px;
  height: calc(100% - 80px); /* 네비게이션 바 아래부터 화면 끝까지 차지 */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 800; /* 다른 요소들 위에 보이도록 설정 */
}

.sidebar-item {
  display: flex;
  margin-bottom: 30px; /* 각 항목 사이의 간격 */
  cursor: pointer;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.408px;
}

.sidebar-item:hover {
  color: #414141; /* 항목에 마우스를 올렸을 때 색상 변경 */
}

.sidebar-icon {
  margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 */
  color: #7b7b7b; /* 기본 아이콘 색상 */
}

.sidebar-item:hover .sidebar-icon {
  color: #414141; /* 호버 시 아이콘 색상 변경 */
}

.sidebar-item:first-child {
  margin-top: 40px;
}
